.default-car-picker {
    .filter-navbar-container {
        padding: 16px 16px 0 16px;
        display: flex;

        .filter-navbar {
            flex: 1;
            min-width: fit-content;
        }
        .car-search-textbox {
            width: 200px;
        }
    }

    .selector-container {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 16px;
        padding: 16px;

        .filters-container {
            flex: 1;
            min-width: 200px;
        }

        .car-list-container {
            flex: 4.5;
            height: 100%;
            overflow-y: auto;

            .car-gallery {
                padding: 0;
            }
        }
    }
    
    .car-picker-toolbox {
        .view-style-button {
            width: 34px;
            height: 26px;
            
            > span {
                font-weight: $w-thin;
            }
        }
    }
}