.default-car-picker {
    .selector-container {
        flex: 1;
        overflow-y: auto;
    }
    
    .car-picker-toolbox {
        .default-scale-scroll {
            width: 200px;
        }
    }

    .car-picker-image.car-picker-image {
        border: 1px solid red !important;
        padding: 0;
    }
}