.default-country-picker {
    min-height: 0;

    .filter-navbar-container {
        padding: 8px 16px;
        display: flex;
        justify-content: right;

        .car-search-textbox {
            width: 200px;
        }
    }

    > .country-list {
        flex: 1;
        padding: 24px;
        min-height: 0;
        overflow-y: auto;

        .country-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            overflow-y: auto;
            gap: 8px;
            padding-bottom: 12px;
        }
    }

    .selectable-country {
        cursor: pointer;
        position: relative;
        padding: 0 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        width: 182px;
        height: 48px;

        background: $bg-color-dark-l2;

        > .country-flag {
            width: 42px;
            max-height: 42px;
        }
        > .country-name {
            @include ellipsis();

            &.country-name-pseudo {
                font-style: italic;
                opacity: 0.6;
            }
        }

        > .country-highlighter {            
            border: 1px solid $text-color-dark-d2;

            // TODO: This is terrible and makes the menu both
            // ugly and confusing.
            &.tier-legendary {
                border: 2px solid $color-tier-legendary;
            }

            &.tier-epic {
                border: 2px solid $color-tier-epic;
            }

            &.tier-distinguished {
                border: 2px solid $color-tier-distinguished;
            }
        }
    }
}