.default-country-field {

    &.readonly {
        > .country-content {
            > .country-flag {
                background: $color-background;
        
                img {
                    opacity: 0.5;
                }
            }

            > .country-name {
                color: $color-text-2;
            }
        }
    }
    &:not(.readonly) {
        &:hover {
            background-color: $color-transparent-2;
        }

        > .country-content {
            cursor: pointer;
    
            &:hover {
                color: $color-highlight-l2;
                text-decoration: underline;
            }
        
            &:focus {
                border: 1px solid $color-highlight;
                background-color: $color-transparent-2;
                padding: 0 5px;
            }
        }
    }

    > .country-content {
        height: 100%;
        width: fit-content;
        min-width: min(160px, 100%);
        padding: 0 6px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    
        > .country-flag {
            width: 30px;
            display: flex;
            align-items: center;
    
            img {
                width: 100%;
                height: 100%;
                border: 1px solid $color-text-2;
            }
        }
    
        > .country-name {
            height: 100%;
            display: flex;
            align-items: center;
            padding-right: 16px;
    
            &.country-error {
                font-style: italic;
                background-color: $color-highlight-d5;
                color: $color-highlight-l3;
                padding: 0 6px;
            }

            &.country-name-pseudo {
                font-style: italic;
            }
        }
    }
}