.image-field {
    border: 1px solid $text-color-dark-d2;
    width: 100%;
    height: 100%;

    .image-field-content {
        width: 100%;
        height: 100%;

        .no-image {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: $w-light;
            text-align: center;
            color: $text-color-dark-d2
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .image-field-name {
        font-size: 10pt;
        color: $text-color-dark-d1;
    }
}