@import "../variables";

.main-menu {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template:
        "nav" 34px
        "con" calc(100vh - 34px) / 1fr;

    .cell-navbar {
        grid-area: nav;
    }

    .cell-content {
        grid-area: con;
    }
}