@import "../variables";

.main-menu {
    $navbar-height: 32px;
    $navbar-padding-top: 8px;
    $navbar-total-height: $navbar-height + $navbar-padding-top;
    
    width: 100vw;
    height: 100vh;
    min-height: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;

    .cell-navbar {
        padding: 0 16px;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-shrink: 0;

        .horiz-nav-bar {
            padding-top: $navbar-padding-top;
        }

        .window-titlebar {
            //background: red;
            flex: 1;
            height: $taskbar-height;
            display: flex;
            flex-direction: row;
            margin-right: $taskbar-windows-default-button-container-width;

            // This region allows the window to be dragged.
            > .window-dragbar {
                //background: blue;
                flex: 1;
                height: 100%;
            }

            > .titlebar-button {
                cursor: default;
                width: $taskbar-windows-control-width;
                height: 100%;
                background-color: var(--bg-color-dark);
                color: white;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #2f3239;
                }

                &:focus {
                    outline: 0;
                }
        
                &:hover:not(:disabled):not(:active) {
                    background-color: #2f3239;
                }
        
                &:active {
                    background-color: #4d4f56;
                }

                > .material-symbol {
                    font-size: 16pt;
                    font-weight: $w-thin;
                }
            }
        }
    }

    .cell-content {
        flex: 1;
        min-height: 0;
    }
}