@import "../variables";

.main-menu {
    $navbar-height: 32px;
    $navbar-padding-top: 8px;
    $navbar-total-height: $navbar-height + $navbar-padding-top;
    
    width: 100vw;
    height: 100vh;
    min-height: 0;

    display: grid;
    grid-template:
        "nav" $navbar-total-height
        "con" calc(100vh - $navbar-total-height) / 1fr;

    .cell-navbar {
        grid-area: nav;
        padding: 0 16px;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 16px;

        .horiz-nav-bar {
            padding-top: $navbar-padding-top;
        }

        // This region allows the window to be dragged.
        .drag-region {
            flex: 1;
            user-select: none;
            -webkit-app-region: drag;
        }
    }

    .cell-content {
        grid-area: con;
    }
}