@import "../variables";
@import "../mixins";

.horiz-nav-bar {
    display: flex;
    flex-direction: row;

    &.nav-bar-small {
        font-size: 10pt;
        gap: 10px;
    }

    &.nav-bar-regular {
        font-size: 12pt;
        gap: 12px;
    }

    &.nav-bar-big {
        font-size: 16pt;
        gap: 16px;
    }
}

.nav-bar-item {
    @include clickable();

    font-weight: $w-thin;
    color: $text-color-dark-d2;

    &:hover {
        color: $text-color-dark-d1;
    }

    &.selected {
        color: $text-color-dark;
    }
}