.default-picker-dialog {
    .default-picker-dialog-gallery-section {
        flex: 1;
        padding: 24px;
        overflow-y: auto;

        &.dark .picker-dialog-image > .content-container > .image-container {
            background-color: black;
        }

        &.transparent .picker-dialog-image > .content-container > .image-container {
            background-color: transparent;
        }

        &.white .picker-dialog-image > .content-container > .image-container {
            background-color: white;
        }

        > .default-picker-dialog-gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 0px;
            padding-bottom: 12px;

            .picker-dialog-image {        
                > .content-container {
                    //box-sizing: content-box;
                    width: 100%;
                    height: 100%;

                    > .image-container {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        
            .picker-dialog-gallery-item {
                position: relative;
        
                > .content-container {
                    //box-sizing: content-box;
                    border: 3px solid transparent;
                }
                

                &:hover > .content-container {
                    border-color: $bg-color-dark-l2;
                }
            }
        }
    }

    > .default-picker-dialog-toolbox {
        .default-button {
            height: 26px;
        }
        .default-scale-scroll {
            width: 200px;
        }
    }

    .default-picker-filter {
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: 100%;
        width: 100%;

        .filter-header {
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 4px;

            .filter-name {
                white-space: nowrap;
                font-size: 10pt;
                font-weight: $w-semibold;
            }
        }
        
        .filter-filter {
            .filter-filter-input {
                height: 24px;
            }
        }
    }
}