@import "../mixins";
@import "../variables";

.editor-tab-teams {
    .teams-container {
        padding: 16px 32px;

        display: flex;
        flex-direction: column;
        gap: 6px;

        .add-team {
            height: 48px;
            font-family: "Oxanium";
        }
    }
}

.editor-add-button {
    @include center-content();
    gap: 6px;
    cursor: pointer;
    background-color: $color-success;

    &:hover:not(:disabled):not(:active) {
        background-color: $color-success-l1;
    }
    &:active {
        background-color: $color-success-d1;
    }
    &:focus {
        outline: 1px solid $color-success-d1;
    }

    svg {
        font-size: 18pt;
        margin-top: -4px;
    }
}

.team-table {
    $table-gap: 4px;

    width: 100%;
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: $table-gap * 2;

    .team {
        display: flex;
        gap: $table-gap;
        font-family: "Oxanium";
        min-height: 64px;
        flex-shrink: 0;
    
        &.text-black {
            color: black;
        }
        &.text-white {
            color: white;
        }
    
        .team-stat {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .stat-name {
                font-weight: $w-thin;
                font-size: 9pt;
            }
            .stat-value {
                font-weight: $w-medium;
            }
        }
    
        > .team-info {
            $gap: 16px;
            $border: 4px;

            width: 650px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;
            background: $bg-color-dark-l2;
            gap: $gap;

            border: $border solid;

            > .team-color {
                width: $gap;
                height: 100%;
                margin-right: -$gap;
            }
    
            > .team-logo {
                background-color: $bg-color-dark-l1;
                width: 100px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                > img {
                    object-fit: contain;
                    width: 72px; //100
                    height: 72px;
                }
                //background: #ffffff80;
                //padding: 6px;
                //border-radius: 8px;
            }
    
            > .team-flag {
                width: 54px;
                text-align: center;

                > img {
                    height: 24px; //48
                    box-sizing: content-box;
                    border: 1px solid $text-color-dark-d2;
                }
            }
    
            > .team-names-and-badge {
                $width: 250px;
                $gap: 8px;
                $image-size: 24px;

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: $gap;
                width: $width;

                > .team-names {
                    display: flex;
                    flex-direction: column;
                    max-width: $width - $gap - $image-size;
    
                    > .team-name {
                        @include ellipsis();
                        font-weight: $w-regular;
                    }

                    > .team-constructor {
                        color: $text-color-dark-d2;
                    }
                }

                > .team-badge {
                    object-fit: contain;
                    width: $image-size;
                    max-height: $image-size;
                    display: block;
                }
            }
            > .team-car {
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 6px;
    
                > .team-car-stats {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    color: $text-color-dark-d1;
                }
            }
        }
    
        .driver-list {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: $table-gap;
    
            .driver-info {
                height: 42px;
                padding: 0 8px 0 4px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: start;
                align-items: center;
                gap: 8px;
    
                &.solo-driver {
                    height: 100%;
                }
    
                > .driver-number {
                    width: 64px;
                    text-align: center;
    
                    > div {
                        font-size: 20pt;
                        font-weight: $w-bold;
                        margin-top: 6px;
                        //font-style: italic;
                    }
                }
    
                > .driver-flag {
                    max-height: 32px;
                    max-width: 32px;
                    object-fit: contain;
                    box-sizing: content-box;
                    border: 1px solid $text-color-dark-d2;
                }
    
                > .driver-initials {
                    width: 56px;
                    font-size: 12pt;
                    font-weight: $w-bold;
                    text-align: center;
                    padding: 0 6px;
                }
    
                > .driver-name {
                    width: 180px;
                    @include ellipsis();
    
                    font-weight: $w-medium;
                }
                
                > .skin-icons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: start;
                    align-items: center;
                    gap: 3px;
                    flex: 1;
                    overflow-x: auto; // TODO: custom scrollbar
    
                    .skin-icon {
                        box-sizing: content-box;
                        height: 32px;
                        border: 1px solid $text-color-dark-d2;
    
                        &.default-skin {
                            border: 3px solid $color-golden;
                        }
                    }
                }
                
                > .driver-stats {
                    grid-area: f;
                    display: flex;
                    justify-content: center;
    
                    .team-stat {
                        width: 40px;
                    }
                }
            }
        }
    }
}