.default-track-picker {
    .filter-navbar-container {
        padding: 16px 16px 0 16px;
        display: flex;

        .filter-navbar {
            flex: 1;
            min-width: fit-content;
        }
        .car-search-textbox {
            width: 200px;
        }
    }

    .selector-container {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 16px;
        padding: 16px;

        .country-category-title {
            &:hover {
                background-color: $color-component2;
            }
        }

        .filters-container {
            flex: 1;
            min-width: 200px;
        }

        .track-selector-container {
            flex: 4.5;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .track-list-container {
                flex: 4;
                order: 2;
                overflow-y: auto;
            }

            .selected-track-showcase {
                flex: 3;
                order: 1;
                // all other css specified below.
            }
        }
    }

    .selected-track-showcase {
        // flex size specified above.
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        overflow: hidden;

        .image-section {
            //background: green;
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            .image-container {
                @include thumbnail-aspect-ratio();
                
                position: relative;
                width: 100%;

                > img {
                    @include thumbnail-aspect-ratio();

                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .basic-info-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 6px;
                overflow-y: auto;
                min-height: 0;
                width: 100%;

                .description-container {
                    color: $color-text-2;
                }
            }
        }

        .layout-data-section {
            flex: 3;
            overflow-x: hidden;
            overflow-y: auto;

            .datum {
                > .name {
                    color: $color-text;

                    &::after {
                        content: "\00a0";
                    }
                }
                > .value {
                    color: $color-text-2;

                    &.country {
                        display: inline-block;
                        
                        > img {
                            //border: 1px solid $color-text-2;
                            max-width: 20px;
                        }

                        > span {
                            &::before {
                                content: "\00a0";
                            }
                        }
                    }
                }
            }
        }

        .layout-menu-section {
            flex: 3;
            overflow-x: hidden;
            overflow-y: auto;

            .layout-entry {
                height: 48px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;

                &:hover {
                    background-color: $color-transparent-w2;
                }

                &.selected {
                    background-color: $color-highlight;
                    color: $color-highlight-text;
                }

                .layout-outline {
                    height: 100%;
                    padding: 2px;

                    > img {
                        height: 100%;
                    }
                }
            }
        }
    }
}