.page-initialize-app {
    padding: 24px;
    .settings-table {
        background: #ffffff10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 24px;

        .settings-row {
            background: #ffffff05;
            width: 100%;
            max-width: 800px;
            min-width: 200px;
        }
    }
}