@import "root";

@import "components/calendar-table";
@import "components/car-field";
@import "components/car-picker";
@import "components/car-skin-dropdown-field";
@import "components/car-skin-field";
@import "components/car-skin-picker";
@import "components/color-field";
@import "components/color-picker";
@import "components/country-field";
@import "components/country-picker";
@import "components/image-picker";
@import "components/image-field";
@import "components/league-menu";
@import "components/main-menu";
@import "components/multi-tag-field";
@import "components/picker-dialog";
@import "components/picker-field";
@import "components/team-table";
@import "components/track-field";
@import "components/track-picker";

@import "elements/button";
@import "elements/checkbox";
@import "elements/color-chooser";
@import "elements/cover-panel";
@import "elements/dialog";
@import "elements/drag-region";
@import "elements/dropdown";
@import "elements/form";
@import "elements/highlighter";
@import "elements/labeled-control";
@import "elements/path-selector";
@import "elements/scale-scroll";
@import "elements/selector-list";
@import "elements/slider";
@import "elements/thumbnail";
@import "elements/toolbox-row";
@import "elements/typebox";

@import "screens/screen";
@import "screens/screen-initialize-app";

@import "screens/pages/edition-table";
@import "screens/pages/editor-page";
@import "screens/pages/editor-page-info";
@import "screens/pages/editor-page-teams";
@import "screens/pages/editor-page-drivers";
@import "screens/pages/editor-page-calendar";
@import "screens/pages/league-page";

.window {
    background-color: $bg-color-dark;
    width: 100vw;
    height: 100vh;
}

.tooltip.default-tooltip {
    background-color: $color-primary;
    color: white;
    border-radius: 0;
    padding: 6px 12px; // default: 8px 16px
}

.nav-bar-header {
    padding: 0 12px 3px 12px;
    margin: 0 0 9px 0;
    border-bottom: 1px solid $color-primary;
}

.h3-header {
    padding: 0 0 3px 0;
    margin: 0 0 9px 0;
    font-size: 10pt;
    font-weight: $w-regular;
    text-align: center;
    border-bottom: 1px solid $color-primary;
    margin-top: 4px;
    margin-bottom: 0;
}

.status-bar {
    margin-top: 8px;
    padding-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    gap: 8px;
    border-top: 1px solid $color-primary;

    .default-button {
        width: 180px;
    }

    > .datum {
        font-style: italic;
        color: $text-color-dark-d1;
    }

    > .tools {
        flex: 1;
        display: flex;
        justify-content: right;
        gap: 8px;
    }
}