@import "root";

@import "components/color-field";
@import "components/color-picker";
@import "components/country-field";
@import "components/country-picker";
@import "components/image-picker";
@import "components/image-field";
@import "components/league-menu";
@import "components/main-menu";
@import "components/multi-tag-field";
@import "components/team-table";

@import "elements/button";
@import "elements/color-chooser";
@import "elements/cover-panel";
@import "elements/dialog";
@import "elements/labeled-control";
@import "elements/path-selector";
@import "elements/scale-scroll";
@import "elements/toolbox-row";
@import "elements/typebox";
@import "elements/form/form-title";

@import "screens/screen";
@import "screens/screen-initialize-app";

@import "screens/pages/editor-page";
@import "screens/pages/league-page";

.window {
    background-color: $bg-color-dark;
    width: 100vw;
    height: 100vh;
}

.tooltip.default-tooltip {
    background-color: $color-primary;
    color: white;
    border-radius: 0;
    padding: 6px 12px; // default: 8px 16px
}