@import "variables";
@import "mixins";

@import "fonts/Oxanium/Oxanium.css";

:root {
    @include no-highlight();

    font-family: $font-std;
    color: white;
}

* {
    box-sizing: border-box;
}

b, strong {
    font-weight: $w-semibold;
}

body {
    padding: 0;
    margin: 0;
}

button {
    font-family: $font-std;
    font-size: 12pt;
    outline: none;
    border: none;
    background-color: transparent;
    color: $text-color-dark;

    &:hover:not(:disabled) {
        cursor: pointer;
    }
}