@import "variables";
@import "mixins";

:root {
    @include no-highlight();

    font-family: $font-std;
    color: white;
}

* {
    box-sizing: border-box;
}

b, strong {
    font-weight: $w-semibold;
}

body {
    padding: 0;
    margin: 0;
}