/**********
 * Colors *
 **********/
$color-background: var(--bg-color);
$color-text: var(--text-color);
$color-text-1: var(--text-color-1);
$color-text-2: var(--text-color-2);

$color-highlight: var(--highlight-color);
$color-highlight-l1: var(--highlight-color-l1);
$color-highlight-l2: var(--highlight-color-l2);
$color-highlight-l3: var(--highlight-color-l3);
$color-highlight-d2: var(--highlight-color-d2);
$color-highlight-d3: var(--highlight-color-d3);
$color-highlight-d4: var(--highlight-color-d4);
$color-highlight-d5: var(--highlight-color-d5);

$color-component1: var(--component-color-1);
$color-component2: var(--component-color-2);
$color-component3: var(--component-color-3);
$color-component4: var(--component-color-4);
$color-component5: var(--component-color-5);
$color-component6: var(--component-color-6);

$color-transparent-w1: var(--transparent-color-w1);
$color-transparent-w2: var(--transparent-color-w2);
$color-transparent-w3: var(--transparent-color-w3);
$color-transparent-w4: var(--transparent-color-w4);

$color-text-white: var(--text-color-white);
$color-text-white-1: var(--text-color-white-1);
$color-text-white-2: var(--text-color-white-2);

$color-text-black: var(--text-color-black);
$color-text-black-1: var(--text-color-black-1);
$color-text-black-2: var(--text-color-black-2);

$color-danger: var(--color-danger);
$color-success-l1: var(--color-success-l1);
$color-success: var(--color-success);
$color-success-d1: var(--color-success-d1);
$color-golden: var(--color-golden);

$color-tier-legendary: #ff7f27; // #ff6d16
$color-tier-epic: #ad0ef1; // #760fba
$color-tier-distinguished: #19f78f;

/*********
 * Fonts *
 *********/
$font-std:
    "Segoe UI", "Roboto", "Arial", "Tahoma", "Geneva", "Verdana", "sanf-serif";
$font-mono:
    "Consolas", "Ubuntu Mono", "Courier New", "Lucida Sans Typewriter",
    "Courier", "monospace";

$font-f1:
    "Formula1 Display", $font-std;

/****************
 * Font weights *
 ****************/
$w-thin: 100;
$w-extralight: 200;
$w-light: 300;
$w-regular: 400;
$w-medium: 500;
$w-semibold: 600;
$w-bold: 700;
$w-black: 800; // aka extrabold
$w-extrablack: 900;

$vertical-scroll-width: 17px;