.league-editor > .calendar-tab {
    display: flex;
    
    .calendar-tab-view {
        height: 100%;
        width: 100%;
        padding: 16px;
        min-height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .calendar-table-container {
            display: flex;
            min-height: 0;
        }
    }

    .calendar-tab-edit {
        height: 100%;
        width: 100%;
        padding: 16px;
    }
}

.calendar-edition-table {
    .entry-panel {
        .info-section {
            width: 100%;
            > .default-labeled-control {
                > .label {
                    width: 100px;
                }
                > .value {
                    color: $text-color-dark-d1;
    
                    .default-typebox > input {
                        color: $text-color-dark-d1;
                    }
                }
            }
        }
    }
}