.league-editor > .calendar-tab {
    min-height: 0;

    .calendar-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 8px;
        overflow-y: auto;
        height: 100%;

        .calendar-entry {
            background: $bg-color-dark-l1;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            gap: 16px;
            padding: 0 16px;
    
            > .date {
                width: 124px;
            }
    
            > .country {
                width: 64px;
                display: flex;
                justify-content: center;
                align-items: center;

                > img {
                    box-sizing: content-box;
                    border: 1px solid $text-color-dark-d2;
                    max-width: 48px;
                    max-height: 32px;
                }
            }
    
            > .name {
                @include ellipsis();
                flex: 1;
                font-weight: $w-semibold;
            }
    
            > .layout {
                padding: 4px;
                > img {
                    max-width: 112px;
                    max-height: 59px;
                }
            }
    
            > .layout-name {
                @include ellipsis();
                flex: 1;
            }
    
            > .laps {
                width: 72px;
            }
    
            > .start-hours {
                width: 72px;
            }
    
            > .selected-weathers {
                @include ellipsis();
                min-width: 64px;
                max-width: 200px;
            }
        }
    }
}