.league-editor > .teams-tab {
    padding: 16px;

    > .teams-tab-view {
        height: 100%;
        display: flex;
        flex-direction: column;

        > .teams-table-container {
            min-height: 0;
        }
    
        > .teams-tab-toolbar {
            margin-top: 8px;
            border-top: 1px solid $color-primary;
            padding-top: 8px;
    
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: start;
            gap: 8px;
    
            > .teams-datum {
                font-style: italic;
                color: $text-color-dark-d1;
            }
    
            > .tools {
                flex: 1;
                display: flex;
                justify-content: right;
    
                .default-button {
                    width: 180px;
                }
            }
        }
    }
}