.league-editor > .teams-tab {
    padding: 16px;

    > .teams-tab-view {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        > .teams-table-container {
            min-height: 0;
        }
    
        > .teams-tab-toolbar {
            margin-top: 8px;
            border-top: 1px solid $color-primary;
            padding-top: 8px;
    
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: start;
            gap: 8px;
    
            > .teams-datum {
                font-style: italic;
                color: $text-color-dark-d1;
            }
    
            > .tools {
                flex: 1;
                display: flex;
                justify-content: right;
    
                .default-button {
                    width: 180px;
                }
            }
        }
    }

    .teams-tab-edit {
        width: 100%;
        height: 100%;
    }
}

.team-edition-table {
    //background: blue;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: "lis pan" 1fr
                   "too too" auto / 160px 1fr;
    gap: 0 16px;

    .cell-header {
        padding: 0 0 3px 0;
        margin: 0 0 9px 0;
        font-size: 10pt;
        font-weight: $w-regular;
        text-align: center;
        border-bottom: 1px solid $color-primary;
    }

    > .team-list {
        //background: green;
        grid-area: lis;
        
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 2px;
        overflow-x: hidden;
        overflow-y: auto;

        > h3 {
            margin-top: 4px;
        }

        > .team-entry {
            position: relative;
            height: 24px;

            &:hover {
                background-color: $bg-color-dark-l1;
            }
            &:not(:hover) > .delete-button {
                visibility: hidden;
            }

            &.selected {
                background-color: $color-primary;
            }

            &.edited {
                font-style: italic;
            }

            > .team-name {
                display: flex;
                align-items: center;
                
                width: 100%;
                height: 100%;
                padding-left: 8px;
            }

            > .delete-button {
                @include center-content();

                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 32px;

                &:not(:hover) {
                    background-color: transparent;
                }

                > .material-symbol {
                    font-size: 16pt;
                    font-weight: $w-extralight;
                }
            }
        }
    }

    > .team-panel {
        //background: darkblue;
        grid-area: pan;
        height: 100%;
        min-height: 0;
        display: flex;
        flex-direction: column;

        .team-panel-nav-bar {
            padding: 0 12px 3px 12px;
            margin: 0 0 9px 0;
            border-bottom: 1px solid $color-primary;
        }

        > .team-editor-tab {
            min-height: 0;

            > .tab-info {
                gap: 16px;

                > .images-section {
                    padding: 12px;
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
            
                    .logo-cell {
                        width: 160px;
                        height: 160px;
                        flex-shrink: 0;
                    }
            
                    .badge-cell {
                        width: 64px;
                        height: 64px;
                        flex-shrink: 0;
                    }
            
                    .background-cell {
                        width: 355px;
                        height: 200px;
                    }
                }

                > .info-section {
                    width: 100%;
                    > .default-labeled-control {
                        > .label {
                            width: 100px;
                        }
                        > .value {
                            color: $text-color-dark-d1;
            
                            .default-typebox > input {
                                color: $text-color-dark-d1;
                            }
                        }
                    }
                }
            }

            > .tab-drivers {
                height: 100%;

                .driver-list {
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    width: 100%;
                    height: 100%;
                    min-height: 0;
                    //gap: 8px;
                }

                .driver {
                    gap: 16px;
                    height: fit-content;
                    flex-shrink: 0;
                    //background-color: $bg-color-dark-l1;

                    &:not(:last-child) {
                        border-bottom: 1px solid $bg-color-dark-l1;
                    }

                    &:hover {
                        background-color: $bg-color-dark-l1;
                    }

                    > .images-section {
                        padding: 12px;
                        width: fit-content;
                        gap: 16px;

                        > .photo-image-field {
                            width: 96px;
                            height: 96px;
                        }
                    }

                    > .info-section, .stats-section, .skins-section {
                        flex: 1;
                        padding: 12px 0;
                        
                        > .default-labeled-control {
                            > .label {
                                width: 100px;
                            }
                            > .value {
                                color: $text-color-dark-d1;
                
                                .default-typebox > input {
                                    color: $text-color-dark-d1;
                                }
                            }
                        }
                    }

                    .stats-section {
                        max-width: 200px;
                    }
                }
            }
        }
    }

    > .team-toolbar {
        grid-area: too;
        border-top: 1px solid $color-primary;
        padding-top: 8px;

        > .default-button {
            width: 140px;
        }
    }
}