.editor-page {
    @include fill-container();
    min-height: 0;

    .league-selection {
        @include fill-container();

        display: flex;
        flex-direction: column;
        padding: 12px 0 24px 0;

        .league-menu-container {
            flex: 1;
            min-height: 0;
        }
        .toolbar-bottom {
            padding: 6px 24px;
        }
    }

    .league-editor {
        @include fill-container();
        display: flex;
        flex-direction: column;

        padding: 12px;

        .editor-tab {
            @include fill-container();
            min-height: 0;
        }

        > .info-tab {
            display: flex;
            flex-direction: row;
            overflow-y: auto;

            .images-section {
                padding: 12px;
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                .logo-cell {
                    width: 200px;
                    height: 200px;
                    flex-shrink: 0;
                }

                .background-cell {
                    width: 355px;
                    height: 200px;
                }
            }

            .info-section {
                flex: 1;
                padding: 12px;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                gap: 2px;

                .info-section-cell {
                    width: 100%;

                    > .default-labeled-control {
                        > .label {
                            width: 100px;
                        }
                        > .value {
                            color: $text-color-dark-d1;

                            .default-typebox > input {
                                color: $text-color-dark-d1;
                            }
                        }
                    }
                }

                .categories-cell {
                    flex: 1;

                    > .default-labeled-control {
                        align-items: flex-start;

                        > .label {
                            height: 24px;
                            padding-top: 3px;
                        }
                    }
                }
            }
        }

        > .teams-tab {
            padding: 16px;

            display: flex;
            flex-direction: column;

            > .teams-table-container {
                min-height: 0;
            }

            > .teams-tab-toolbar {
                margin-top: 8px;
                border-top: 1px solid $color-primary;
                padding-top: 8px;

                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: start;
                gap: 8px;

                > .teams-datum {
                    font-style: italic;
                    color: $text-color-dark-d1;
                }

                > .tools {
                    flex: 1;
                    display: flex;
                    justify-content: right;

                    .default-button {
                        width: 180px;
                    }
                }
            }
        }
    }
}