.league-editor > .info-tab {
    .images-section {
        padding: 12px;
        width: fit-content;
        gap: 16px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .logo-cell {
            width: 200px;
            height: 200px;
            flex-shrink: 0;
        }

        .background-cell {
            width: 355px;
            height: 200px;
        }
    }

    .info-section {
        flex: 3;
        padding: 12px;
        gap: 2px;

        > .default-labeled-control {
            > .label {
                width: 124px;
            }
            > .value {
                color: $color-text-1;

                .default-typebox > input {
                    color: $color-text-1;
                }

                .default-checkbox {
                    padding-left: 6px;
                }
            }

            &.categories-cell {
                flex: 1;
                
                align-items: flex-start;

                > .label {
                    height: 24px;
                    padding-top: 3px;
                }
            }
        }
    }

    .groups-section {
        flex: 2;
        padding: 12px;
        gap: 2px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .specs-list {
            max-height: 33%;
        }

        .classes-field {
            flex: 2;
        }
    }
    .categories-section {
        flex: 2;
        padding: 12px;
        gap: 2px;
    }

    .classes-field {
        width: 100%;
        gap: 2px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: 0;

        .header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;
            gap: 8px;

            .default-checkbox {
                width: unset;
            }

            > .name {
                flex: 1;
                font-weight: $w-semibold;
            }
        }
    }
}