.league-editor > .info-tab {
    .images-section {
        padding: 12px;
        width: fit-content;
        gap: 16px;

        .logo-cell {
            width: 200px;
            height: 200px;
            flex-shrink: 0;
        }

        .background-cell {
            width: 355px;
            height: 200px;
        }
    }

    .info-section {
        flex: 1;
        padding: 12px;
        gap: 2px;

        > .default-labeled-control {
            > .label {
                width: 100px;
            }
            > .value {
                color: $text-color-dark-d1;

                .default-typebox > input {
                    color: $text-color-dark-d1;
                }
            }

            &.categories-cell {
                flex: 1;
                
                align-items: flex-start;

                > .label {
                    height: 24px;
                    padding-top: 3px;
                }
            }
        }
    }
}