$-collapsed-line-padding: 36px;
$-collapsed-line-font-size: 14pt;
$-default-padding: 16px;

.free-session-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;

    h2 {
        font-family: $font-f1;
        font-weight: $w-regular;
    }

    h3 {
        font-family: $font-f1;
        font-weight: $w-extralight;
        font-size: 12pt;
        margin: 0;
        padding: 0;
    }

    h4 {
        font-family: $font-std;
        font-weight: $w-bold;
        font-size: 10pt;
        margin: 0;
        padding: 0;
    }

    .default-slider {
        width: 100%;
    }

    > .section {
        border-bottom: 1px solid $color-highlight;
        transition: 0.15s flex-grow;

        &.expanded {
            flex: 1;
            min-height: 0;
            max-height: min-content;
        }

        &.collapsed {
            height: 48px;

            &:not(.section-not-available):hover {
                background-color: $color-highlight;
            }
        }
    }

    .section-not-available {
        cursor: not-allowed;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 $-collapsed-line-padding;
        font-size: $-collapsed-line-font-size;
        font-style: italic;
        font-weight: $w-semibold;
        color: $color-text-2;
    }

    .league-section-expanded {
        .league-selection {
            height: 100%;
        }
    }

    .league-section-collapsed {
        @include center-vertically();
        
        font-family: $font-f1;
        font-weight: $w-regular;
        font-size: $-collapsed-line-font-size;
        padding: 4px;
        padding-left: $-collapsed-line-padding;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        align-items: center;
        gap: 16px;

        .league-icon {
            max-width: 120px;
            height: 100%;
            object-fit: contain;
        }
    }

    .track-section-expanded {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: $-default-padding;
        padding: $-default-padding;
        height: 100%;
        min-height: 0;

        > .event-section {
            flex: 1;
            $-flag-size: 20px;
            min-width: 0;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            gap: 8px;

            .event-container {
                display: flex;
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: auto;
                gap: 8px;
                height: 100%;

                .event-entry {
                    $-entry-height: 50px;

                    background: $color-transparent-w3;
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;
                    height: $-entry-height;
                    flex-shrink: 0;
                    padding: 1px 0 0 4px;

                    &:hover {
                        background: $color-transparent-w4;
                    }

                    &.selected {
                        background: $color-highlight;
                    }

                    > .outline-section {
                        @include center-content();
                        width: $-entry-height * 1.5;
                        max-height: 100%;
                        padding: 4px;

                        > img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    > .info-section {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        overflow: hidden;

                        > .event-title {
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: center;
                            gap: 4px;
                            overflow: hidden;
                            justify-content: center;
                            font-family: $font-f1;

                            > .event-flag {
                                width: $-flag-size * 3;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;

                                > img {
                                    min-height: $-flag-size;
                                    min-width: $-flag-size;
                                    max-width: 36px;
                                    max-height: 26px;
                                    border: 1px solid $color-text-2;
                                }
                            }
                            > .event-name {
                                @include ellipsis();
                            }
                        }

                        > .track-name {
                            @include ellipsis();
                            font-family: $font-std;
                            padding: 2px 16px;
                            color: $color-text-1;
                            text-align: center;
                        }
                    }
                }
            }
        }

        > .customize-section {
            flex: 2;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            gap: 8px;

            > .section-content {
                display: grid;
                grid-template: "tra tim" auto
                               "atm atm" 1fr / 240px 1fr;
                width: 100%;
                height: 100%;
                gap: 12px;
                               
                .track-thumbnail {
                    grid-area: tra;
                    width: 240px;
                }

                .time-section {
                    grid-area: tim;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .time-scale-slider .number-box-container {
                        width: 64px;
                    }

                    .default-labeled-control {
                        height: 24px;
                    }
                }

                .conditions-section {
                    grid-area: atm;
                    display: grid;
                    grid-template: "tit tit" auto
                                   "wea tmp" 1fr / 1fr 1fr;
                    gap: 6px;

                    > .title {
                        grid-area: tit;
                    }

                    > .weather-section {
                        grid-area: wea;
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                    }

                    > .wind-section {
                        grid-area: tmp;
                    }
                }
            }
        }
    }
}