@import "../variables";

.default-button {
    background-color: $color-component2;
    padding: 4px 8px;
    font-size: 10pt;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    svg {
        //font-size: 12pt;
    }

    &.disabled {
        color: #ffffff60;
    }

    &.highlighted:not(.disabled) {
        color: $color-highlight-text;
        background-color: $color-highlight;

        &:focus {
            outline: 1px solid $color-text-2;
        }

        &:hover:not(:disabled):not(:active) {
            background-color: $color-highlight-l2;
        }

        &:active {
            background-color: $color-highlight-d2;
        }
    }

    span.material-symbol {
        font-size: 12pt;
        font-weight: $w-light;
    }

    &.icon-button.icon-button {
        width: 34px;
        height: 26px;
        
        > span {
            font-weight: $w-thin;
        }
    }
}

.default-regular-button {
    &:not(.disabled):not(.highlighted) {
        &:focus {
            outline: 1px solid $color-highlight;
        }
    
        &:hover:not(:disabled):not(:active) {
            background-color: $color-component3;
        }
    
        &:active {
            background-color: $color-highlight;
        }
    }
}

.default-toggle-button {
    &.toggled-on {
        background-color: $color-highlight;
    
        &:hover:not(:disabled) {
            background-color: $color-highlight-l2;
        }
    }

    &:not(.disabled):not(.toggled-on) {
        &:focus {
            outline: 1px solid $color-highlight;
        }
    
        &:hover:not(:disabled):not(:active) {
            background-color: $color-component3;
        }
    }
}