@import "../variables";

.default-button {
    background-color: $bg-color-dark-l1;
    padding: 4px 8px;
    font-size: 10pt;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    svg {
        //font-size: 12pt;
    }

    &:not(.disabled):not(.highlighted) {
        &:focus {
            outline: 1px solid $color-primary;
        }
    
        &:hover:not(:disabled):not(:active) {
            background-color: $bg-color-dark-l2;
        }
    
        &:active {
            background-color: $color-primary;
        }
    }

    &.disabled {
        color: #ffffff60;
    }

    &.highlighted:not(.disabled) {
        background-color: $color-primary;

        &:focus {
            outline: 1px solid $text-color-dark-d2;
        }

        &:hover:not(:disabled):not(:active) {
            background-color: $color-primary-l2;
        }

        &:active {
            background-color: $color-primary-d2;
        }
    }
}