.default-direction-circle-field {
    // TODO: All of this is ad-hoc.
    > div {
        color: green;
        transition: none !important;

        > svg ~ div {
            > svg {
                > circle:first-child {
                    visibility: hidden;
                }
                > circle ~ circle ~ svg {
                    visibility: hidden;
                }
            }
        }

        > svg ~ div ~ div {
            color: red;

            > div ~ div {
                height: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 4px !important;

                > code {
                    font-family: $font-std;
                    color: $color-text-1;
                }
            }
        }
    }
}