.default-slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > .slider-container {
        flex: 4;
        width: 100%;
        //height: 100%;
        min-width: 32px;

        > .slider-main {
            width: 100%;
            height: 100%;
    
            .slider-track {
                top: 0;
                height: 100%;
                background: $bg-color-dark-l1;
    
                &.slider-track-0 {
                    background: $color-primary;
                }
            }

            > .slider-thumb {
                margin-left: -1px;
                width: 1px;
                height: 100%;
                background: $color-primary;
            }
        }
    }

    > .number-box-container {
        flex: 1;
        min-width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.default-range-slider {
    $-main-thumb-width: 10px;
    $-range-thumb-width: 5px;

    position: relative;
    width: 100%;
    height: 100%;

    .slider-main-container {
        position: absolute;
        width: 100%;
        height: 100%;

        > .slider-main {
            position: absolute;
            width: 100%;
            height: 100%;
    
            > .slider-track {
                height: 0;
            }
    
            > .slider-thumb {
                position: relative;
                width: $-main-thumb-width;
                height: 24px;
                background: $color-primary;

                > .slider-range {
                    position: absolute !important;
                    width: 60px;
                    height: 24px;
            
                    > .slider-track {
                        height: 0;
                    }
            
                    > .slider-thumb {
                        width: $-range-thumb-width;
                        height: 24px;
                        background: $color-primary-d3;
                        //background: transparent;
                        //font-weight: $w-bold;
                        //font-size: 18pt;
                    }
                }

                .slider-range-left {
                    left: -60px;
                }

                .slider-range-right {
                    left: $-main-thumb-width;
                }
            }
        }
    }

    .slider-range-left-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}