.default-fill-slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > .slider-container {
        flex: 4;
        width: 100%;
        //height: 100%;
        min-width: 32px;

        > .slider-main {
            width: 100%;
            height: 100%;
    
            .slider-track {
                top: 0;
                height: 100%;
                background: $color-component2;
    
                &.slider-track-0 {
                    background: $color-highlight;
                }
            }

            > .slider-thumb {
                margin-left: -1px;
                width: 1px;
                height: 100%;
                background: $color-highlight;
            }
        }
    }

    > .number-box-container {
        flex: 1;
        min-width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.readonly > .slider-container > .slider-main {
        > .slider-track.slider-track-0 {
            background-color: $color-component4;
        }

        > .slider-thumb {
            background-color: $color-component4;
        }
    }
}

.default-thumb-slider {
    $-slider-track-height: 6px;
    $-slider-thumb-width: 9px;
    $-slider-thumb-half-width: 4px;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6px;

    > .slider-area {
        position: relative;
        flex: 1;

        > .slider-container {
            position: absolute;
            flex: 4;
            width: 100%;
            height: 100%;
            min-width: 32px;
    
            > .slider-main {
                width: 100%;
                height: 100%;
                margin: 0 $-slider-thumb-half-width;
        
                .slider-track {
                    height: $-slider-track-height;
                    top: calc(50% - $-slider-thumb-half-width);
                    background: $color-component2;
                    right: $-slider-thumb-half-width !important;
        
                    &.show-fill-track-0 {
                        background: $color-component5;
                    }
                }
    
                > .slider-thumb {
                    position: relative;
                    width: $-slider-thumb-width;
                    height: 100%;
                    margin-left: -$-slider-thumb-half-width;
                    background: $color-highlight;

                    &:hover {
                        background: $color-highlight-l3;
                    }
                }

                .slider-mark {
                    top: calc(50% + $-slider-track-height + 4px);
                    background-color: $color-component4;
                    width: 1px;
                    height: 5px;
                }
            }
        }
    }

    > .number-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 100%;

        &.number-box-left {
            order: -1;
        }

        .number-box {
            height: 100%;
        }
    }

    &.readonly {
        cursor: not-allowed;

        > .slider-area {    
            > .slider-container {        
                > .slider-main {            
                    .slider-track {
                        background: $color-component2;
            
                        &.show-fill-track-0 {
                            background: $color-component2;
                        }
                    }
        
                    > .slider-thumb {
                        background: $color-component2;
                    }
                }
            }
        }
    }
}

.default-range-slider {
    $-main-thumb-width: 10px;
    $-range-thumb-width: 5px;

    position: relative;
    width: 100%;
    height: 100%;

    .slider-main-container {
        position: absolute;
        width: 100%;
        height: 100%;

        > .slider-main {
            position: absolute;
            width: 100%;
            height: 100%;
    
            > .slider-track {
                height: 0;
            }
    
            > .slider-thumb {
                position: relative;
                width: $-main-thumb-width;
                height: 24px;
                background: $color-highlight;

                > .slider-range {
                    position: absolute !important;
                    width: 60px;
                    height: 24px;
            
                    > .slider-track {
                        height: 0;
                    }
            
                    > .slider-thumb {
                        width: $-range-thumb-width;
                        height: 24px;
                        background: $color-highlight-d3;
                        //background: transparent;
                        //font-weight: $w-bold;
                        //font-size: 18pt;
                    }
                }

                .slider-range-left {
                    left: -60px;
                }

                .slider-range-right {
                    left: $-main-thumb-width;
                }
            }
        }
    }

    .slider-range-left-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}