.default-thumbnail {
    $-name-line-height: 24px;

    position: relative;
    @include thumbnail-aspect-ratio();

    > .thumbnail-background {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.no-content-thumbnail {
            @include center-content();
            padding-bottom: $-name-line-height;
            background-color: black;
            color: $color-text-2;
        }
    }

    > .thumbnail-multi-layer-background {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .thumbnail-layer {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    > .thumbnail-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $-name-line-height;
        background: #222222c0;
        text-shadow: black 0 0 2px;
        padding: 0 8px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 6px;

        > .thumbnail-name {
            @include ellipsis();
        }

        > .thumbnail-flag {
            height: 100%;
            display: flex;
            align-items: center;

            > img {
                width: 24px;
                max-height: 100%;
                border: 1px solid $color-text-2;
                object-fit: contain;
            }
        }
    }

    > .thumbnail-highlighter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //border: 2px solid $color-highlight;
    }
}

.default-car-thumbnail {
    > .thumbnail-info {
        > .thumbnail-badge {
            max-height: 100%;
            width: 24px;
            padding: 2px 0;
            display: flex;
            justify-content: center;
    
            > img {
                display: block;
                height: 24px - 4px;
                max-width: 100%;
                object-fit: contain;
            }
        }

        > .thumbnail-name {
            flex: 1;
        }
    }
}

.default-track-thumbnail {
    > .thumbnail-multi-layer-background {
        > .layer-outline {
            img {
                object-fit: contain;
            }
        }
    }
}


// TODO: Remove
.thumbnail {
    position: relative;
    @include thumbnail-aspect-ratio();

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .logo {
        padding: 12px;
        position: absolute;
        width: 100%;
        height: calc(100% - 24px);
        object-fit: contain;
    }

    .title {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 24px;
        background: #77777760;

        display: grid;
        grid-template:
            "fl" "t" "op" 1fr / 42px 1fr 24px;

        .flag-container {
            width: 100%;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            .flag {
                box-sizing: content-box;
                height: 18px;
                border: 1px solid #ffffff40;
            }
        }

        .name {
            justify-self: left;
            align-self: center;
            font-size: 10.5pt;
            padding-left: 6px;
        }
    }

    .hover-tools {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000040;
    }
}