.default-toolbox-row {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 8px;

    .default-button {
        width: 100px;
    }

    .default-status {
        @include ellipsis();

        flex: 1;
        padding-left: 16px;
        font-size: 10pt;
        font-weight: $w-light;
        color: $text-color-dark-d1;
    }
}