.default-typebox {
    position: relative;

    &.readonly {
        .input-field {
            color: $color-text-2;
            pointer-events: none;
        }
    }

    &:not(.readonly) {
        .input-field {
            &:focus {
                border: 1px solid $color-highlight;
                background-color: $color-transparent-2;
                //padding: 0 5px;
            }

            &:hover {
                background-color: $color-transparent-2;
            }
        }
    }

    &.text-black {
        &.readonly > .input-field {
            color: $color-text-black-1;
        }
    
        &:not(.readonly) > .input-field {
            color: $color-text-black;
        }
    }

    &.text-white {
        &.readonly > .input-field {
            color: $color-text-white-1;
        }
    
        &:not(.readonly) > .input-field {
            color: $color-text-white;
        }
    }

    .input-field {
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
        background: 0;

        color: $color-text;
        padding: 0 6px;
        border: 1px solid transparent;

        &::selection {
            background: $color-highlight-d3;
        }

        &::placeholder {
            color: $color-text-2;
            font-weight: $w-extralight;
        }
    }

    .textbox-suggestions {
        max-height: 240px;
        max-width: 300px;
        position: fixed;
        
        .suggestion {
            padding: 2px 8px;
            color: $color-text-1;

            &:hover {
                background-color: $color-highlight;
                color: $color-highlight-text;
            }
        }
    }
}

.default-proportion-numeric-box {
    > .value {

    }
    > .proportion {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        > .proportion-dividend {
            padding-left: 6px;
            font-weight: $w-semibold;
        }

        > .proportion-divisor {
            flex: 1;

            .input-field {
                padding: 0;
    
                &:focus {
                    padding: 0;
                }
            }
        }
    }
}